{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
   <p>
       Transactions
    </p>
    <p>
       <table>
  <thead>
    <th scope = "col">Symbol</th>
    <th scope = "col">Date/Time</th>
    <th scope = "col">Action</th>
    <th scope = "col">Shares</th>
    <th scope = "col">Price</th>
    <th scope = "col">Total</th>
  </thead>
    {% for hstock in hstocks %}
    <tr>
    <td>{{hstock.symbol}}</td>
    <td>{{hstock.date}}</td>
    <td>{{hstock.Action}}</td>
    <td>{{hstock.shares}}</td>
    <td>{{hstock.price}}</td>
    <td>{{hstock.sumpr}}</td>
    </tr>
    {% endfor %}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
   </p>
{% endblock %}